/* BODY */
body {
  background-color: #fff;
  font-family: 'Roboto' sans-serif;
}

/* Скрытый титул */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* HEADER/ШАПКА САЙТА */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-dark {
  color: #000;
}

.logo-white {
  color: #fff;
}

/* FOOTER/ПОДВАЛ САЙТА */

.footer {
  background-color: #2f303a;
}

/* PORTFOLIO/Секция Портфолио */
